.App {
  text-align: center;
}
.App-logo {
  height: 100px;
  width: 100px;
  pointer-events: none;
}
.App-link {
  color: #2045eb;
}
.Dash-board-main {
  min-height: 50vh;
  background-color:#2045eb;
}
.News-feed {
  min-height: 20vh;
  background-color:aquamarine;
}
.Adv {
  min-height: 30vh;
  background-color:cadetblue;
}

.Dash-board-btn-up,
.Dash-board-btn-middle,
.Dash-board-btn-down {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color:cornsilk;
}
.Dash-board-btn-up {
  align-items: flex-end;
}
.Dash-board-btn-down {
  align-items: flex-start;
}
.Certifying-commission-Dash-board,
.Seminars-Dash-board {
  margin-left: 20px;
  margin-right: 20px;
}